/*Global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f7f3ea;
}
/*#wrapper{
    width: 1440px;
    height: 1456px;
} */

/*Helpers*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/*Modal*/
body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #cccccc;
}

a {
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;   
}

a:hover {
    color: #616161;
}

.modal-contenido a:hover {
    color: red;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;

}

.modal-contenido {
    background-color: #787276;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
}

.modal {
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 0s;
}

#miModal:target {
    opacity:1;
    pointer-events:auto;
}

/*Header*/

  #header{
    width: 1440px;
    height: 597px;
    background-color: #87509c;
}

#logo{
    padding: 65px 0 0 212px;
    position: absolute;
}

#menu{
    float: right;
    position: relative;
}

#menu-list{
    list-style: none;
    padding: 60px 243px 0;
}

#menu-list li{
    float: left;
    padding: 15px;
}

#menu-list a{
    padding: 10px 19px;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f7f3ea;
}
#menu-list a:hover{
    background-color: #643a79;

}

#parrafo-header{
    font-size: 42.16px;
    padding: 238px 284px 0 284px;
}

#work-link{
    text-align: center;
    margin-top: 62px;
}

#work-link a{
    color: #f7f3ea;
    background-color: #eb7d4b;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    padding: 28px 90px 28px 90px;
}


#work-link a:hover{
    background-color: #af400d;
}




/*Services*/

#services{
    width: 1439px;
    height: 746px;
    background-color: #17c2a4;
}

#h1-service{
    text-align: center;
    padding: 118px 0 50px;
}

#parrafo-service{

    text-align: center;
    font-size: 18px;
    padding: 0 421px 0 421px;
}

#iconos{
    padding: 0 170px 0 170px;
}
.box-image{
    padding: 83px;
	width: 260px;
	float: left;
	/*background-color: red;*/
}


.box-image a, .box-image img{
	display: block;
}

.box-image + .box-image{
    margin-right: 19px;
}

/*Texto de iconos*/

.box{
    text-align: center;
    width: 260px;
    float: left;
}

.box + .box{
    padding: 0 20px;
}

#texto-iconos{
    padding: 0 0 0 170px;
}

.text-padding{
    padding: 0 0 28px;
}

/*Footer*/

#footer{
    padding: 39px 0 0 251px;
    width: 1439px;
    height: 104px;

    background-color: #344b8e;
}

#footer-list a{
    font-size: 18px;
    color: #f7f3ea;
    text-decoration: none;

}
#footer-list a:hover{
    color: #30bae7;
}
#footer-list li{
    float: left;
    padding-right: 54px;
    list-style: none;
}